body {
    text-align: center;
}

.title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -6px;
    color: white;
    text-shadow : -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 4px 4px 0px black;
    margin-bottom : 30px;
    margin-top : 80px;
}

.btn {
    border:none;
    background: none;
    width:80%;
    padding:10px ;
    margin-bottom: 20px;
    font-size:1.1rem;
    font-weight: 800;
    letter-spacing: -1px;
    cursor: pointer;
    color:rgb(78, 78, 78);
    border-radius: 50px;
    border : 1px #ccc solid;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.26) ;

}

.icon {
    height: 20px;
}

p {
    font-size: 10px;
}