{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부산 총선후보 파헤치기</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</head>
<body>
    <section class="mainpage">
        <h1 class="title">
            우리동네
            <br>후보 공약
            <br>한눈에
            </h1>
        <div class="subtitle"> in 부산 </div>
        <div class="dropdown2">
            <form method="GET">
                    <div onclick="open_gugundrop()" class="dropbtn2">
                        {% if temp_gungus is None %}
                            지역구 선택
                        {% else %}
                            {{temp_gungus}}
                        {% endif %}
                    </div>

                <div class="dropdown-content2">
                    {% for j in gungus %}
                        <button type="submit" value={{j.id}} name="gungus">{{j.sgg_name}}</button>
                    {% endfor %}
                </div>
            </form>
        </div>
    </section>
   
    {% if target_candidates %}
    <section class="who">
        <h2> 우리동네 후보들의 
            <br> 공약은 이렇습니다
        </h2>

        <div class="sector_choice">
            <div class="divided">
                <button onclick="chocie_check(event);" class="choice_type1">교육</button>
                <button onclick="chocie_check(event);" class="choice_type2">재난/코로나</button>
                <button onclick="chocie_check(event);" class="choice_type3">여성/노인/장애인/어린이</button>
            </div>
            <div class="divided">
                <button onclick="chocie_check(event);" class="choice_type4">도시개발</button>
                <button onclick="chocie_check(event);" class="choice_type5">소상공인/자영업자</button>
                <button onclick="chocie_check(event);" class="choice_type6">청년/일자리</button>
                
            </div>
        </div>

        <div class="whoWrap">
            <ul>

                {%for i in target_candidates%}
                <li>
                    <div class="candidate_section">
                        <div class="talk_section">
                            <div class="promise1">
                                {{i.promise1}}
                            </div>
                            <div class="promise2">
                                {{i.promise2}}
                            </div>
                            <div class="promise3">
                                {{i.promise3}}
                            </div>
                            <div class="promise4">
                                {{i.promise4}}
                            </div>
                            <div class="promise5">
                                {{i.promise5}}
                            </div>
                            <div class="promise6">
                                {{i.promise6}}
                            </div>
                            <div class="talk_section_tail"></div>
                            <div class="talk_section_tail_inner"></div>
                        </div>

                        <img class="image-info-ani" src="{% static 'img/cursor.png' %}">
                            <div onclick="candidate_info('{{i.giho_num}}','{{i.jdname}}','{{i.name}}','{{i.age}}','{{i.job}}','{{i.edu}}','{{i.career1}}','{{i.career2}}','{{i.attend}}');" class="image-cropper {{i.jdname}}">
                                
                                <img src="http://cpmadang.org/sites/default/files/{{i.candi_id}}.JPG">
                            </div>
                        

                        <p class="candidatename">{{i.name}}</p>
                        <p class="partyname">{{i.jdname}}
                            <p class="attend">
                                20대 국회 본회의 출석률 : {{i.attend}}
                            
                            </p>

                        </p>
                        
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </section>

    <div class="show_info">
        <img onclick="x_btn()" class= "x_btn" src="{% static 'image/close_icon.png' %}">
        <div id="cd_dt_info"></div>
    </div>

    <a class="go_to_video_link" target="_blank" href="https://www.youtube.com/channel/UC7ZokPF5h305q3VkMuYWfCA/search?query={{search_video_q}}">
        후보자 토론영상 보러가기<br>
    <span>
        Click! 👉
    </span>
    </a>
    <section class="resultWrap">
        <br> <br> <br>
    </section> 
    {% endif %}
    
    <h1 class="title">
        정당 공약
        <br>
        블라인드
        <br>
        테스트
        </h1>
    <div class="subtitle2"> (와 재밌겠다) (박수짝짝) </div>
    <a href="{% url 'blind_party'%}" class="jdworldcup"> 
        지금 바로 테스트하기
    </a>
</body>
</html>