{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부산 총선후보 파헤치기</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</head>
<body>
    <a href="{% url 'blind_party'%}">
        <h1>정당 월드컵</h1>
    </a>
    <section class="mainpage">
        <h1 class="title">우리는
            <br>
            얼마나
            <br>
            생각이
            <br>
            비-슷할까</h1>
        <p class="title-comment">
            내 생각과 우리 지역구 후보자의 공약은 얼마나 비슷할까요?
        </p>

        <div class="dropdown2">
            <form method="GET">
                    <div onclick="open_gugundrop()" class="dropbtn2">
                        {% if temp_gungus is None %}
                            지역구 선택
                        {% else %}
                            {{temp_gungus}}
                        {% endif %}
                    </div>

                <div class="dropdown-content2">
                    {% for j in gungus %}
                        <button type="submit" value={{j.id}} name="gungus">{{j.sgg_name}}</button>
                    {% endfor %}
                </div>
            </form>
        </div>
    </section>
   
    {% if target_candidates %}
    <section class="who">
        <h2>우리 지역 후보들은
            <br>
            어떤 생각을 가지고 있을까요?
        </h2>
        <div class="whoWrap">
            <ul>

                {%for i in target_candidates%}
                <li>
                    <div class="candidate_section">
                        <div class="talk_section">
                            <div>
                                asdasdsad내용~asdsad내용~asdsad내용~asdsad내용~asdsad내용~asdsad내용~
                            </div>
                            <div class="talk_section_tail"></div>
                            <div class="talk_section_tail_inner"></div>
                        </div>

                        <img class="image-info-ani" src="{% static 'img/cursor.png' %}">
                            <div onclick="candidate_info('{{i.name}}','{{i.job}}');" class="image-cropper {{i.jdname}}">
                                
                                <img src="http://cpmadang.org/sites/default/files/{{i.candi_id}}.JPG">
                            </div>
                        

                        <p class="candidatename">{{i.name}}</p>
                        <p class="partyname">{{i.jdname}}
                            <p class="attend">
                                20대 국회 본회의 출석률 : {{i.attend}}
                            
                            </p>

                        </p>
                        
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
        
        
        <div class="sector_choice">
            <div class="divided">
                <button onclick="chocie_check();" class="choice_type1">교육</button>
                <button onclick="chocie_check();" class="choice_type2">재난/코로나</button>
                <button onclick="chocie_check();" class="choice_type3">여성/노인/장애인/어린이</button>
            </div>
            <div class="divided">
                <button onclick="chocie_check();" class="choice_type4">도시개발</button>
                <button onclick="chocie_check();" class="choice_type5">소상공인/자영업자</button>
                <button onclick="chocie_check();" class="choice_type6">청년/일자리</button>
                
            </div>
        </div>
    </section>

    <div class="show_info">
        <img onclick="x_btn()" class= "x_btn" src="{% static 'image/close_icon.png' %}">
        <div id="cd_dt_info"></div>
    </div>

    <a class="go_to_video_link" target="_blank" href="https://www.youtube.com/channel/UC7ZokPF5h305q3VkMuYWfCA/search?query={{search_video_q}}">후보자 토론영상 보러가기 👉</a>
    <section class="resultWrap">
        <br> <br> <br>
    </section>
    {% endif %}
    
</body>
</html>