{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="2020 총선 파헤치기">
    <meta property="og:description" content="지역구 후보 주요공약, 블라인드 정당 테스트">
    <meta property="og:image" content="{% static 'img/ogimage.png' %}">
    <title>부산 총선후보 파헤치기</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <h1 class="title">
        2020총선
        <br>
        한 표의 힘
        <br>
    </h1>
    <div class = "btnWrap">
        <button type="button" onclick="location.href='{% url 'index'%}'" class="btn">지역구후보 주요공약  <img src="{% static 'image/election_icon.png' %}" class="icon"></button>
        <button type="button" onclick="location.href='{% url 'blind_party' %}'" class="btn">공약 블라인드테스트  <img src="{% static 'image/election_icon.png' %}" class="icon"></button>
    </div>

    <p>본 서비스는
        <br>
        공공데이터, 후보자 공약집, 참여연대 제공 데이터를
        <br>
        기반으로 작성되었습니다.</p>
</body>
</html>