{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/blind_party.css' %}">
</head>
<body>
    <div class="party_container">
        <h1>나는..</h1>
        <section class="choice_container">
            <article class="top">
               A 정당
            </article>
            <div class="divider_line"> VS </div>
            <article class="bottom">
                B 정당
            </article>
        </section>
    </div>
</body>
</html>