{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/blind_party.css' %}">
</head>
<body> 
    <a class="home_fix_link" href="{% url 'main' %}">
        메인으로
    </a>
    <div class="party_container">
        
    

        <section class="choice_container">
            
            
            {%if all_party.all|length == 1 %}
            <div class="result_party">

            당신의 선택은<br>       
                {%for i in all_party%}
                    <span>{{i}}</span>
                {%endfor%}
                입니다
                <div class="review_party">
                {%for i in all_party%}
                    <span>{{i}}공약 다시 보기</span>
                    

                    {%if i.partypolicy_set.all|length > 0 %}
                    {% for j in i.partypolicy_set.all %}
                    <div onclick="open_detail()" class="policy_item">
                        {{j.flexible_title}}
                    
                    </div>
                    <div onclick="close_detail()" class="policy_detail_close">
                        <img src="{% static 'image/close_icon.png' %}">
                    </div>
                    <div class="policy_detail policy_detail{{j.number}}">
                        <div>
                            
                            <strong>{{j.title}}</strong>- ({{j.category}})<br>
                            {{j.desc|linebreaks}}
                    
                        </div>
                    </div>
                    {%endfor%}
                    {%else%}
                    <span>이 정당의 공약은 없습니다.</span>
                    {%endif%}



                {%endfor%}
                </div>
            </div>
            {%else%}

            {%if msg != None %}

                <div onclick="hide_door()" class="party_choice_door">
                    어떤 정당이<br>
                    부전승으로<br> 
                    올라갔습니다.<br>
                    <span>click!</span>
                </div>
            {% endif %}
                <div onclick="hide_door()" class="party_choice_door">
                    {% if len_party == 2%}
                    결승전 시작하기<br>
                    <span>click!</span>
                    {%else%}

                    {% if all_party.all|length == 51 %}
                        <div class="choice_starttext">
                            <img src="{% static 'image/election_icon.png' %}" alt="선택하기">
                            공약으로 
                            <br>
                            여러분의 정당을
                            <br>
                            찾아보세요!


                        </div>
                      
                    {%endif%}
                    {{len_party}}강 시작하기<br>
                    <span>click!</span>
                    {%endif%}
                </div>

            <form method = "POST">
                {%csrf_token%}
               
                <input type="hidden" name="unearned" value={{unearned}}>
                
                <article class="top">

                    {%for i in top %}

                    <input onchange="marking()" type="radio" name="party{{forloop.counter}}" value={{i}} id="party_t_{{forloop.counter}}">

                    <div class="card card{{forloop.counter}}">   
                        <img class="choice_mark" src="{% static 'image/election_icon.png' %}" alt="선택하기">

                        <label for="party_t_{{forloop.counter}}"">
                            <img src="{% static 'image/election_icon.png' %}" alt="선택하기">
                            선 택
                        </label>

                            {%if i.partypolicy_set.all|length > 0 %}
                                {% for j in i.partypolicy_set.all %}
                                    <div onclick="open_detail()" class="policy_item">
                                        {{j.flexible_title}}
                                        
                                    </div>

                                    <div onclick="close_detail()" class="policy_detail_close">
                                        <img src="{% static 'image/close_icon.png' %}">
                                    </div>

                                    <div class="policy_detail policy_detail{{j.number}}">
                                        <div>
                                            <strong>{{j.title}}</strong>- ({{j.category}})<br>
                                            {{j.desc|linebreaks}}
                                            
                                        </div>
                                        <div class="scroll_display"></div>
                                    </div>
                                {%endfor%}
                            {%else%}
                                <span>이 정당의 공약은 없습니다.</span>
                            {%endif%}
                    </div>
                    {%endfor%}
                </article>


                <div class="divider_line"> VS <span>공약을 클릭하면 자세히 볼수있어요!</span> </div>

                <article class="bottom">
                    {%for i in bottom %}
                        <input onchange="marking()" type="radio" name="party{{forloop.counter}}" value={{i}} id="party_b_{{forloop.counter}}">

                        <div class="card card{{forloop.counter}}">
                            <img class="choice_mark"src="{% static 'image/election_icon.png' %}" alt="선택하기">

                            <label for="party_b_{{forloop.counter}}" > 
                                    <img src=" {% static 'image/election_icon.png' %}" alt="선택하기">
                                    선 택
                            </label>

                                {%if i.partypolicy_set.all|length > 0 %}
                                    {% for j in i.partypolicy_set.all %}
                                        <div onclick="open_detail()" class="policy_item">
                                            {{j.flexible_title}}
                                        
                                        </div>
                                        <div onclick="close_detail()" class="policy_detail_close">
                                            <img src="{% static 'image/close_icon.png' %}">
                                        </div>
                                        <div class="policy_detail policy_detail{{j.number}}">
                                            <div>
                                                    <strong>{{j.title}}</strong>- ({{j.category}})<br>
                                                    {{j.desc|linebreaks}}

                                            </div>
                                        </div>
                                    {%endfor%}
                                {%else%}
                                    <span>이 정당의 공약은 없습니다.</span>
                                {%endif%}
                            
                        </div>
                    {%endfor%}

                </article>





            </form>
            {%endif%}
        </section>
 
    </div>
</body>
<script>
    function marking(){
        let that = this.event.target
        this.event.target.nextSibling.nextSibling.firstChild.nextSibling.classList.add('mark_show')
        
        setTimeout(hide.bind(null,that), 200)
    }

    function hide(that) {

        cho_list = document.querySelectorAll('.' + that.nextSibling.nextSibling.classList[1])

            //min width줄여서 애니메이션 효과 들어가도록 제작
            cho_list[0].classList.add('zero_width')
            cho_list[1].classList.add('zero_width')
            //클릭하면 해당 div 내 text제거되게함
            cho_list[0].innerHTML = ""
            cho_list[1].innerHTML = ""

            if (that.name.substr(5) === document.querySelector('.top > div:last-child').classList[1].substr(4)) {
                document.querySelector('.choice_container > form').submit()
            }


        }
   
    function hide_door(){
        console.log(this.event.target.innerHTML)
        if (this.event.target.innerHTML === "click!"){
            console.log(this.event.target.parentNode)
            this.event.target.parentNode.innerHTML = ""
            this.event.target.parentNode.classList.add('close_door')
        }else{
            this.event.target.classList.add('close_door')
            this.event.target.innerHTML = ""
        }
               
    }
    function mark_show(){
        this.event.target.parentNode.firstChild.nextSibling.classList.add('hide')
    }

    function open_detail(){
        this.event.target.nextSibling.nextSibling.nextSibling.nextSibling.classList.add('show')
        this.event.target.nextSibling.nextSibling.classList.add('show')

        //console.log(this.event.target.nextSibling.nextSibling.nextSibling.nextSibling)
        //스크롤이 있으면 아래 스크롤하라는 표시 띄워주려했었음.
   //     let detail_window = this.event.target.nextSibling.nextSibling.nextSibling.offsetHeight
     //   let detail_content_height = this.event.target.nextSibling.nextSibling.nextSibling.firstChild.nextSibling.offsetHeight
       // console.log(this.event.target.nextSibling.nextSibling.offsetHeight < this.event.target.nextSibling.nextSibling.firstChild.offsetHeight)
        
    }
    function close_detail(){

        console.log(this.event.target.parentNode)
        this.event.target.parentNode.nextSibling.nextSibling.classList.remove('show')
        this.event.target.parentNode.classList.remove('show')

    }
</script>
</html>