autopep8==1.5
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Django==2.2.21
idna==2.9
psycopg2==2.8.4
pycodestyle==2.5.0
pytz==2019.3
requests==2.23.0
selenium==3.141.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.8
