
.party_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.choice_container{
    border:1px solid red;
    width:320px;
    height:500px;
    position: relative;
}

.top,.bottom{
    height:240px;
    display: flex;
    overflow: hidden;
}
.divider_line{
    height:20px;
    border:2px solid black;
    text-align: center;
}
.card{
    display: inline-flex;
    flex-wrap: wrap;
    height:240px;
    width:320px;
    min-width: 320px;
    transition: all 0.3s ease-out;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card > label{
    position: absolute;
    right:10px;
    bottom:10px;
    cursor: pointer;
}

.party_choice_door{
    display: flex;
    height:100%;
    width:320px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    position: absolute;
    background: white;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-size:2rem;
    font-weight: 800;
    z-index:1;
}

.zero_width{
    min-width: 0;
}
.close_door{
    height:0;

}
.top input[type="radio"],
.bottom input[type="radio"]{
    display: none;
}



.policy_item{
    font-size:0.85rem;
    border:1px solid black;
    width:130px;
    margin:5px;
    height:30px;
    text-align: center;
    cursor: pointer;
}